<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurger | Store</title>
    <link rel="stylesheet" href="../css/global.css"> </head>
<body>
    <div id="cart-sidebar">
        <h2>🛒 CARRINHO NEON</h2>
        <div id="cart-items">
            </div>
        <hr style="border-color: var(--cyber-pink); margin: 20px 0;">
        <h3 style="color: white;">TOTAL: E$ <span id="cart-total">0.00</span></h3>
        <button style="width: 100%; margin-bottom: 10px;">FINALIZAR TRANSFERÊNCIA</button>
        <button class="delete-btn" style="width: 100%;" onclick="toggleCart()">FECHAR [X]</button>
    </div>

    <div id="cart-counter" onclick="toggleCart()" style="cursor: pointer;">🛒 Itens: 0</div>

    <header>
        <h1>🍔 DevBurger System</h1>
        <nav>
            <a href="index.html" style="color: var(--primary);">Cardápio</a> | 
            <a href="admin/products.html" style="color: #ccc;">Painel Admin</a>
        </nav>
    </header>

    <main>
        <div id="product-container">
            <p>Conectando ao banco de dados Oracle...</p>
        </div>
    </main>

    <script src="../js/api.js"></script>
    <script src="../js/store.js"></script>
</body>
</html>